<a href="https://colab.research.google.com/github/GabrielaSchmitt/Data-Science-studies/blob/main/Imbalanced.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('http://www.elligence.com.br/data/creditcard.csv')

In [3]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
df.groupby('Class').count()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,284315,284315,284315,284315,284315,284315,284315,284315,284315,284315,...,284315,284315,284315,284315,284315,284315,284315,284315,284315,284315
1,492,492,492,492,492,492,492,492,492,492,...,492,492,492,492,492,492,492,492,492,492

In [5]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [6]:
X = df.iloc[:,1:-1]

In [7]:
X

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,0.090794,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62
1,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,-0.166974,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69
2,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,0.207643,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66
3,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,-0.054952,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50
4,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,0.753074,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,4.356170,...,1.475829,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77
284803,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,-0.975926,...,0.059616,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79
284804,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,-0.484782,...,0.001396,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88
284805,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,-0.399126,...,0.127434,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00
284806,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,-0.915427,...,0.382948,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00

In [8]:
y = df['Class'].to_list()

In [9]:
set(y)

{0, 1}

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1234)

In [11]:
clf = RandomForestClassifier(n_estimators=10, max_depth=6, random_state=1234)
clf.fit(X_train, y_train)

RandomForestClassifier(max_depth=6, n_estimators=10, random_state=1234)

In [12]:
y_pred = clf.predict(X_test)

In [13]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [14]:
accuracy_score(y_test, y_pred)

0.9993914071369217

In [15]:
confusion_matrix(y_test, y_pred)

array([[85287,    15],
       [   37,   104]])

[link text](https://)from sklearn.metrics import precision_score, recall_score, f1_score

In [16]:
from sklearn.metrics import precision_score, recall_score, f1_score

In [17]:
precision_score(y_test, y_pred)

0.8739495798319328

In [18]:
recall_score(y_test, y_pred)

0.7375886524822695

In [19]:
f1_score(y_test, y_pred)

0.7999999999999999

In [20]:
from imblearn.under_sampling import RandomUnderSampler

In [21]:
sampler = RandomUnderSampler()

In [22]:
X_u, y_u = sampler.fit_resample(X, y)

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X_u, y_u, test_size=0.3, random_state=1234)

In [24]:
clf.fit(X_train, y_train)

RandomForestClassifier(max_depth=6, n_estimators=10, random_state=1234)

In [25]:
y_pred = clf.predict(X_test)

In [26]:
accuracy_score(y_test, y_pred)

0.9324324324324325

In [27]:
precision_score(y_test, y_pred)

0.9752066115702479

In [28]:
recall_score(y_test, y_pred)

0.8740740740740741

In [29]:
f1_score(y_test, y_pred)

0.921875

In [30]:
confusion_matrix(y_pred, y_test)

array([[158,  17],
       [  3, 118]])

In [31]:
from imblearn.over_sampling import SMOTE

In [32]:
sampler = SMOTE()

In [33]:
X_o, y_o = sampler.fit_resample(X, y)

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X_o, y_o, test_size=0.3, random_state=1234)

In [35]:
clf.fit(X_train, y_train)

RandomForestClassifier(max_depth=6, n_estimators=10, random_state=1234)

In [36]:
y_pred = clf.predict(X_test)

In [37]:
accuracy_score(y_test, y_pred)

0.9618029298489351

In [38]:
precision_score(y_test, y_pred)

0.9936850018794637

In [39]:
recall_score(y_test, y_pred)

0.9295342131789306

In [40]:
f1_score(y_test, y_pred)

0.960539702533792

In [41]:
confusion_matrix(y_test, y_pred)

array([[84767,   504],
       [ 6012, 79306]])